<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :assets %>
  <title>Manage</title>
</head>
<body>
<div id="content">
<ul id="nav">
  <li><a href="/manage/profile">Profile</a></li>
  <li><a href="/manage/boards">Boards</a></li>
  <li><a href="/manage/users">Users</a></li>
  <li><a href="/manage/bans">Bans</a></li>
  <li class="tce">—</li>
  <li><form class="link-form" action="/manage/logout" method="post"><a><button>Logout</button></a><input type="hidden" name="csrf" value="<%= request.cookies['csrf'] %>"></form></li>
</ul>
</div>
</body>
</html>
