<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :manage_assets %>
  <title>Manage profile</title>
</head>
<body>
<div id="content">
<ul id="nav">
  <li><a href="/manage">Return</a></li>
</ul>
<h1>Profile</h1>
<h3>Change password</h3>
<form class="form" action="" method="post">
  <label>Old password</label>
  <input type="password" name="old_pwd" required>
  <label>New password</label>
  <input type="password" name="new_pwd" required>
  <label>Confirm new password</label>
  <input type="password" name="new_pwd_again" required>
  <button type="submit">Submit</button>
  <input type="hidden" name="csrf" value="<%= request.cookies['csrf'] %>">
</form>
</div>
</body>
</html>
