<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :manage_assets %>
  <title>Login</title>
</head>
<body>
<div id="content">
<form id="login-form" class="section" action="/manage/auth" method="post">
<table>
  <tr>
    <th><label for="hive-username">Username</label></th>
    <td><input id="hive-username" required="required" type="text" name="username" value=""></td>
   </tr>
  <tr>
    <th><label for="hive-password">Password</label></th>
    <td><input id="hive-password" required="required" type="password" name="password" value=""></td>
  </tr>
  <tr>
    <td colspan="2"><button type="submit">Continue</button></td>
  </tr>
</table><%= csrf_tag(@csrf, 'auth_csrf') %>
</form>
</div>
</body>
</html>
