<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :manage_assets %>
  <title>Manage users</title>
</head>
<body>
<div id="content">
<ul id="nav">
  <li><a href="/manage">Return</a></li>
  <li class="tce">—</li>
  <li><a href="/manage/users/create">Add user</a></li>
</ul>
<h1>Manage users</h1>
<table id="user-list" class="table section">
  <thead>
    <th>User</th>
    <th>Group</th>
    <th></th>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= user[:username] %></td>
    <td><%= t(:user_levels)[USER_GROUPS[user[:level]]] %></td>
    <td><a href="/manage/users/update/<%= user[:id] %>">Edit</a></td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>
</body>
</html>
