<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Refresh" content="1; url=/<%= "#{@board[:slug]}/read/#{@thread[:num]}#bottom" %>" />
  <%= erb :assets %>
  <title>Great success!</title>
</head>
<body>
<div id="content">
  <h2 class="success">Great success!</h2>
</div>
</body>
</html>
