/*! YUI Reset */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,dfn,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,legend{color:#000}

body, html {
  background: #FFFAFA;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font: 16px
    Sylfaen,
    'Palatino Linotype',
    Palatino,
    'Century Schoolbook L',
    'Times New Roman',
    serif;
  color: #232c33;
  margin-bottom: 60px;
}

pre {
  font: 12px
    'DejaVu Sans Mono',
    'Consolas',
    'Andale Mono',
    'Lucida Console',
    monospace;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
  background-color: #fff;
}

a,
.link-span {
  cursor: pointer;
  color: #007FFF;
  text-decoration: none;
}

a:hover,
.link-span:hover {
  color: #C41E3A;
  text-decoration: underline;
}

a:focus,
.link-span:focus {
  color: #C41E3A;
  outline: none;
}

.q { color: #708090 }

h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0.6em 0 0.6em;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  word-wrap: break-word;
}

h2 { font-size: 25px; }
h3 { font-size: 18px; }

form, p, ul, ol, table { margin-bottom: 1em; }

.disabled { opacity: 0.5; }
.hidden { display: none !important; }
.invisible { visibility: hidden; }
.tainted:after { content: '*'; }

.aa {
  white-space: pre;
  font: 16px/17px 'IPAMonaPGothic', 'Mona', 'MS PGothic', monospace;
  overflow: auto;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.table  {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.table th,
.table td {
  padding: 4px 6px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 1em;
  overflow: hidden;
}

.table th {
  font-weight: bold;
}

.pagination li {
  display: inline;
  font-size: 14px;
}

.pagination li a,
.pagination li span {
  display: inline-block;
  padding: 1px 6px;
}

.pagination .pgn-ctrl {
  font-size: 1.25em;
}

blockquote {
  padding-left: 10px;
  border-left: 3px solid #DDD;
  color: #777;
}

td, th {
  padding: 2px 5px 2px 0;
}

input {
  margin-right: 5px;
  vertical-align: middle;
}

.error {
  text-align: center;
  color: #C41E3A;
}

.success {
  text-align: center;
  color: #00A550;
}

.error,
.success {
  margin-top: 40px;
}

.s {
  color: transparent;
  text-decoration: none;
  background-color: #708090;
}

.s:hover {
  background-color: inherit;
  color: inherit;
}

.s a { visibility: hidden; }
.s:hover a { visibility: visible; }

#app-title {
  margin-top: 20px;
}

.post {
  margin-bottom: 30px;
  overflow: hidden;
}

.post-num {
  font-weight: bold;
  color: #232c33;
}

.post-num,
.post-date {
  white-space: nowrap;
}

.post-author,
.post-date {
  margin-left: 0.25em;
  vertical-align: bottom;
  display: inline-block;
}

.post-author {
  color: #00A550;
  font-weight: bold;
  word-wrap: break-word;
}

.post-tripcode {
  color: #74C365;
  font-style: italic;
}

.post-comment {
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
  max-width: 100%;
  word-wrap: break-word;
}

.post-menu-btn {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  color: #708090;
  text-decoration: inherit;
  outline: none;
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 1;
  display: inline-block;
  margin-left: 0.5em;
  text-align: center;
}

.post-menu-btn:before {
  content: '…';
  position: relative;
  bottom: 4px;
}

.post-menu-btn::-moz-focus-inner { 
  border: 0;
}

.no-post-menu .post-menu-btn {
  display: none;
}

#post-menu {
  position: absolute;
  text-align: center;
  font-size: 12px;
  padding: 4px;
  background-color: inherit;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#post-menu li {
  line-height: 18px;
}

.post-comment p { margin-bottom: 15px; }
.post-comment p:last-child { margin-bottom: 0 }

.post-file {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 10px;
}

.post-file-meta {
  margin-bottom: 5px;
}

.post-file-thumb {
  display: inline-block;
  line-height: 0;
}

.post-file-thumb img {
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.post-file,
.post-date {
  color: #708090;
}

.file-spoiler {
  background-color: #708090;
  transition: background-color .5s .25s;
}

.file-spoiler:hover {
  background-color: transparent;
}

.file-spoiler img {
  opacity: 0;
  transition: opacity .5s .25s;
}

.file-spoiler:hover img {
  opacity: 1;
}

.manage-ctrl {
  font-size: 12px;
}

.manage-ctrl a {
  margin-left: 8px;
}

#threads {
  color: #708090;
  width: 100%;
}

.section {
  margin-top: 20px;
}

.list li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 5px;
  line-height: 1.3em;
}

header {
  margin: 10px 40px 0 40px;
}

#content {
  margin: 0 40px;
}

.rc {
  color: #232c33;
  width: 10px;
  display: inline-block;
  text-align: center;
}

.tce { color: #B3B3B3; }

footer {
  text-align: center;
  font-size: 12px;
  line-height: 1.75em;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
}

#post-form table {
  width: 380px;
}

#post-form th {
  width: 40px;
}

#post-form tfoot { text-align: right; }

.captcha-loading {
  height: 74px;
  width: 300px;
}

#captcha-toggle { margin-right: 10px }

#post-form .g-recaptcha > div{
  float: right;
  margin: 5px 0;
}

#captcha-fallback {
  float: right;
  margin: 5px 0;
}

#captcha-fallback,
#captcha-fallback #cfb-wrap,
#captcha-fallback #cfb-icnt,
#captcha-fallback iframe {
  width: 302px;
  height: 352px;
}

#captcha-fallback #cfb-wrap { position: relative }
#captcha-fallback #cfb-icnt { position: absolute }
#captcha-fallback iframe { border-style: none }
#captcha-fallback #g-recaptcha-response {
  width: 250px;
  height: 80px;
  border: 1px solid #c1c1c1;
  margin: 0px;
  padding: 0px;
  resize: none;
}

#captcha-fallback #cfb-tcnt {
  width: 250px;
  height: 80px;
  position: absolute;
  border-style: none;
  bottom: 21px;
  left: 25px;
  margin: 0px;
  padding: 0px;
  right: 25px;
}

#email-field { display: none; }

#author-field,
#file-field,
#title-field { width: 100%; }

#comment-field {
  display: block;
  margin-top: 5px;
  min-width: 100%;
  width: 100%;
  height: 120px;
  min-height: 120px;
}

#comment-preview {
  overflow: auto;
  margin-top: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#tegaki-btn,
#comment-preview-btn {
  font-size: 12px;
  margin: 0 5px;
}

.mini-type {
  font-size: 12px;
}

#file-field {
  font-size: 14px;
  max-width: 210px;
}

#sage-label,
#spoiler-label {
  font-size: 14px;
  float: right;
}

#nav {
  list-style: none;
  text-indent: 0;
  padding: 0;
  margin: 10px 0;
}

#nav li {
  margin: 0 3px;
  display: inline;
}

#confirm-destroy {
  margin-top: 50px;
}

#confirm-destroy input {
  width: 150px;
}

#confirm-destroy h3 {
  color: #C41E3A;
}

#confirm-destroy label {
  display: block;
  margin-bottom: 5px;
}

.form {
  width: 280px;
}

.form label {
  display: block;
  margin: 10px 0 2px 0;
}

.form button {
  margin-top: 20px;
  display: block;
}

.form input[type=text],
.form select,
.form textarea {
  min-width: 100%;
}

input[type="checkbox"] {
  margin-bottom: 3px;
}

.form .protip {
  margin-top: 5px;
  font-size: 90%;
}

.link-form {
  display: inline;
}

.link-form button {
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
  background: none;
  font: inherit;
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  display: inline;
  outline: none;
}

.link-form button::-moz-focus-inner {
  border: none;
  padding: 0;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
}

#backdrop:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#expanded-file {
  vertical-align: middle;
}

.fit-to-screen {
  max-width: 100%;
  max-height: 100%;
}

.has-backdrop {
  overflow: hidden;
}

#dummy-fcon {
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.quote-preview {
  position: absolute;
  background-color: inherit;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 0 5px;
  overflow: hidden;
}

.quote-preview .post {
  margin-bottom: 15px;
}

.ban-head {
  color: #708090;
  margin-top: 20px;
}

.banned-status {
  padding-bottom: 25px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.banned-status:last-child {
  border: none;
}

.ban-reason {
  white-space: pre;
}

#ban-list {
  width: 100%;
}

.table .col-xs { width: 50px; }
.table .col-s { width: 80px; }
.table .col-m { width: 150px ;}
.table .col-txt { text-align: left; }

.note {
  color: #708090;
  font-size: 0.8em;
}

#post-report-form #captcha-cnt {
  margin-top: 15px;
}

.post-board {
  font-weight: bold;
}

.post-report {
  background-color: #fff;
  margin-bottom: 18px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  vertical-align: top;
}

.post-report .rc {
  margin-left: 0.25em;
}

.post-report .rc:before {
  content: '»';
}

.post-report .pc {
  color: #708090;
}

.post-report-meta {
  margin-bottom: 4px;
}

.post-title {
  display: inline-block;
}

.is-reply .rc:before {
  content: '↪';
  font-size: 11px;
}

.post-report .post-head {
  padding: 4px 6px 0 6px;
}

.post-report .post-comment {
  overflow: auto;
  padding-right: 8px;
}

.post-report-score {
  font-size: 12px;
  float: right;
  color: #708090;
  cursor: default;
}

.post-report-ctrl {
  width: 100%;
  box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.3);
}

.post-report-ctrl a,
.post-report-ctrl .link-span {
  font-size: 10px;
  display: inline-block;
  margin: 0 6px 6px 6px;
  text-transform: uppercase;
}

#tooltip,
.post-menu-btn,
#post-menu,
.post-report-score,
.post-report-ctrl a,
.post-report-ctrl .link-span {
  font-family: 'Segoe UI', 'Helvetica Neue', Optima, Calibri, Arial, sans-serif;
}

#tooltip {
  position: absolute;
  background-color: #181f24;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 8px 4px 8px;
  z-index: 100000;
  word-wrap: break-word;
  white-space: pre-line;
  max-width: 400px;
  color: #dedede;
  text-align: center;
}

@media screen and (max-width: 480px) {
  #post-form table {
    width: 100%;
  }
  
  #content {
    margin: 0 10px;
  }
}
